//
// Component
//


// 1. Fix Firefox blurry SVG rendering: https://bugzilla.mozilla.org/show_bug.cgi?id=1046835
.icon-wrapper {
  display: inline-flex;
  align-self: center;
  width: 1em;
  height: 1em;

  svg {
    fill: currentColor;
    height: 1em;
    width: 1em;
    // 1
    transform: translate(0, 0);
  }
}
