// File: messages.less
// Note:


// -------------------------
// Messages
// -------------------------


.msg {
  border-radius: @msg-border-radius;
  display: inline-block;
  hyphens: auto;
  line-height: @msg-line-height;
  overflow-wrap: break-word;
  padding: @msg-padding;
  position: relative;
  vertical-align: middle;
  word-wrap: break-word;

  &:empty {
    display: none;
  }

  a {
    text-decoration: underline;
  }
}


// -------------------------
// Message Modifiers (Color)
// -------------------------


.msg--default {
  background: darken(@color-gray-lightest, 2%);
}

.msg--note {
  background: #f6f2bc;

  a {
    color: inherit;
  }
}

.msg--primary {
  background: @color-primary-rich;
  color: @color-white;

  a {
    color: inherit;
  }
}


// -------------------------
// Message Modifiers (To/From)
// -------------------------


.msg--inbound,
.msg--outbound {
  &::before {
    background: inherit;
    border-right: 0;
    border-top: 0;
    content: '';
    height: @msg-arrow-size;
    position: absolute;
    top: 50%;
    width: @msg-arrow-size;
  }
}

.msg--inbound {
  margin-left: @msg-arrow-size;

  &::before {
    left: 0;
    transform: rotate(45deg) translateX(-75%);
  }
}

.msg--outbound {
  margin-right: @msg-arrow-size;

  &::before {
    right: 0;
    transform: rotate(-45deg) translateX(75%);
  }
}
