@font-face {
  font-family: 'Sailec';
  src: url('../fonts/Sailec-regular.woff2') format('woff2'), url('../fonts/Sailec-regular.woff') format('woff');
  font-weight: @global-font-weight-normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sailec';
  src: url('../fonts/Sailec-medium.woff2') format('woff2'), url('../fonts/Sailec-medium.woff') format('woff');
  font-weight: @global-font-weight-bold;
  font-style: normal;
}

@font-face {
  font-family: 'SF';
  src: url('../fonts/SanFranciscoText-Regular.woff2') format('woff2'), url('../fonts/SanFranciscoText-Regular.woff') format('woff');
  font-weight: @global-font-weight-normal;
  font-style: normal;
}
