@font-face {
  font-family: 'SF Pro Text';
  src: url('../fonts/sf-pro-text_regular.woff') format('woff');
  font-weight: @global-font-weight-normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url('../fonts/sf-pro-text_regular-italic.woff') format('woff');
  font-weight: @global-font-weight-normal;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url('../fonts/sf-pro-text_semibold.woff') format('woff');
  font-weight: @global-font-weight-semibold;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../fonts/sf-pro-display_regular.woff') format('woff');
  font-weight: @global-font-weight-medium;
  font-style: normal;
}
